.verified {
  width: 15px;
  height: 15px;
  position: relative;
  bottom: 2px;
  vertical-align: middle;
  fill: #383636;  
}
.middot {
  font-size: 1.9em;
  transform: scale(1.5); 
  vertical-align: middle;
  display: inline-block; 
  line-height: 1;
}
.notch {
  height: 57px;
  position: fixed;
  left: 70px;
  right: 0;
  top: 0;
  width: 1153px;
  z-index: 100;
  background-color: white;
}
.logo {
  height: 65px;
  width: 115px; 
}
.search-bar {
  position: relative;
  bottom: 25px;
  left: 100px;
  height: 38px;
  width: 580px;
  border-radius: 50px;
  border-style: solid;
  border-width: 1px;
  padding-left: 15px;
  color: grey;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.search-icon {
  height: 30px;
  width: 35px;
  position: relative;
  left: 43px;
  bottom: 16px;
}
.mike {
  height: 55px;
  width: 55px;
  position: relative;
  left: 70px;
  bottom: 2px;
}
.create {
  height: 25px;
  width: 25px;
  position: relative;
  left: 180px;
  bottom: 20px;
}
.bell-icon {
  height: 28px;
  width: 28px;
  position: relative;
  left: 205px;
  bottom: 17px;
}
.acc {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  position: relative;
  left: 225px;
  bottom: 17px;
}
.suggestion {
  height: 40px;
  position: fixed;
  top: 57px;
  left: 70px;
  right: 0px;
  padding-top: 18px;
  padding-left: 50px;
  width: 1102px;
  z-index: 100;
  background-color: white;
}
.but1 {
  height: 30px;
  width: 42px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  margin-right: 7px;
}
.but2 {
  height: 30px;
  width: 75px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  margin-right: 7px;
}
.but3 {
  height: 30px;
  width: 75px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  margin-right: 7px;
}
.but4 {
  height: 30px;
  width: 75px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  margin-right: 7px;
}
.but5 {
  height: 30px;
  width: 87px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  margin-right: 7px;
}
.but6 {
  height: 30px;
  width: 75px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  margin-right: 7px;
}
.but7 {
  height: 30px;
  width: 75px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  margin-right: 7px;
}
.but8 {
  height: 30px;
  width: 45px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  margin-right: 7px;
}
.but9 {
  height: 30px;
  width: 58px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  margin-right: 7px;
}
.but10 {
  height: 30px;
  width: 80px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  margin-right: 7px;
}
.but11 {
  height: 30px;
  width: 100px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  margin-right: 7px;
}
.but12 {
  height: 30px;
  width: 150px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  margin-right: 7px;
}
.side-bar {
  position: fixed;
  left: 0;
  top: 0;
  width: 70px;
  height: 470px;
  display: block;
}
.menu {
  height: 38px;
  width: 38px;
  position: relative;
  top: 15px;
  left: 13px;
}
.home {
  height: 35px;
  width: 35px;
  position: relative;
  top: 45px;
  left: 13px;
}
.tag1 {
  position: relative;
  top: 32px;
  left: 15.5px;
  font-size: 13px;
}
.shorts {
  height: 38px;
  width: 60px;
  position: relative;
  top: 37px;
}
.tag2 {
  position: relative;
  top: 18px;
  left: 13px;
  font-size: 13px;
}
.subscriptions {
  height: 35px;
  width: 35px;
  position: relative;
  top: 30px;
  left: 14px;
}
.tag3 {
  position: relative;
  left: 2px;
  top: 16px;
  font-size: 12px;
}
.you {
  height: 35px;
  width: 35px;
  position: relative;
  top: 32px;
  left: 13px;
}
.tag4 {
  position: relative;
  top: 18px;
  left: 20px;
  font-size: 13.5px;
}
.download {
  height: 35px;
  width: 35px;
  position: relative;
  left: 13px;
  top: 30px;
}
.tag5 {
  position: relative;
  top: 18px;
  left: 6px;
  font-size: 12px;
}
.main {
  height: 2050px;
  width: 1149px;
  position: relative;
  top: 110px;
  left: 65px;
  overflow: hidden;
  z-index: 10;
}
.first-vid {
  height: 300px;
  width: 375px;
  overflow: hidden;
}
.vid1 {
  margin-top: 25px;
  margin-left: 15px;
  height: 200px;
  width: 360px;
  border-radius: 10px;
}
.timing1 {
  height: 20px;
  width: 45px;
  border-radius: 4px;
  padding-top: 2px;
  padding-left: 5px;
  background-color: black;
  color: white;
  position: relative;
  bottom: 50px;
  left: 315px;
}
.para1 {
  font-size: 15px;
  position: relative;
  left: 70px;
  bottom: 105px;
  font-family: "Roboto Mono", monospace;
  word-spacing: -3px;
  letter-spacing: -0.5px;
}
.logo1 {
  height: 40px;
  width: 40px;
  border-radius: 25px;
  position: relative;
  left: 20px;
  bottom: 50px;
}
.cre1 {
  font-size: 14px;
  color : rgb(96, 96, 96);
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
  position: relative;
  left: 70px;
  bottom: 120px;
}
.tv1 {
  font-size: 14px;
  color : rgb(96, 96, 96);
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
  position: relative;
  left: 70px;
  bottom: 135px;
  line-height: 6px;
}
.second-vid {
  height: 300px;
  width: 360px;
  position: relative;
  left: 390px;
  bottom: 350px;
  margin-top: 50px;
}
.vid2 {
  margin-top: 15px;
  padding-top: 9px;
  height: 200px;
  width: 360px;
  border-radius: 10px;
}
.timing2 {
  height: 20px;
  width: 45px;
  border-radius: 4px;
  padding-top: 2px;
  padding-left: 5px;
  background-color: black;
  color: white;
  position: relative;
  bottom: 50px;
  left: 300px;
}
.logo2 {
  height: 40px;
  width: 40px;
  border-radius: 25px;
  position: relative;
  left: 20px;
  bottom: 50px;
}
.para2 {
  font-size: 17px;
  position: relative;
  left: 70px;
  bottom: 107px;
  font-family: "Roboto Mono", monospace;
  word-spacing: -3px;
  letter-spacing: 0.3px;
}
.cre2 {
  font-size: 14px;
  color : rgb(96, 96, 96);
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
  position: relative;
  left: 70px;
  bottom: 125px;
}
.tv2 {
  font-size: 14px;
  color : rgb(96, 96, 96);
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
  position: relative;
  left: 70px;
  bottom: 140px;
  line-height: 6px;
}
.third-vid  {
  height: 300px;
  width: 382px;
  position: relative;
  left: 767px;
  bottom: 650px;
}
.vid3 {
  margin-top: 15px;
  padding-top: 10px;
  height: 200px;
  width: 382px;
  border-radius: 10px;
}
.timing3 {
  height: 20px;
  width: 45px;
  border-radius: 4px;
  padding-top: 2px;
  padding-left: 5px;
  background-color: black;
  color: white;
  position: relative;
  bottom: 50px;
  left: 320px;
}
.logo3 {
  height: 40px;
  width: 40px;
  border-radius: 25px;
  position: relative;
  left: 20px;
  bottom: 50px;
}
.para3 {
  font-size: 17px;
  position: relative;
  left: 70px;
  bottom: 107px;
  font-family: "Roboto Mono", monospace;
  word-spacing: -3px;
  letter-spacing: 0.3px;
}
.cre3 {
  font-size: 14px;
  color : rgb(96, 96, 96);
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
  position: relative;
  left: 70px;
  bottom: 125px;
}
.tv3 {
  font-size: 14px;
  color : rgb(96, 96, 96);
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
  position: relative;
  left: 70px;
  bottom: 140px;
  line-height: 6px;
}
.forth-vid {
  height: 290px;
  width: 375px;
  position: relative;
  bottom: 650px;
}
.vid4 {
  margin-top: 15px;
  height: 200px;
  width: 375px;
  border-radius: 10px;
}
.timing4 {
  height: 20px;
  width: 45px;
  border-radius: 4px;
  padding-top: 2px;
  padding-left: 5px;
  background-color: black;
  color: white;
  position: relative;
  bottom: 50px;
  left: 320px;
}
.logo4 {
  height: 45px;
  width: 45px;
  border-radius: 25px;
  position: relative;
  left: 20px;
  bottom: 50px;
}
.para4 {
  font-size: 17px;
  position: relative;
  left: 70px;
  bottom: 110px;
  font-family: "Roboto Mono", monospace;
  word-spacing: -4px;
  letter-spacing: 0.3px;
}
.cre4 {
  font-size: 14px;
  color : rgb(96, 96, 96);
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
  position: relative;
  left: 70px;
  bottom: 130px;
}
.tv4 {
  font-size: 14px;
  color : rgb(96, 96, 96);
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
  position: relative;
  left: 70px;
  bottom: 145px;
  line-height: 6px;
}
.fifth-vid {
  height: 290px;
  width: 360px;
  position: relative;
  bottom: 940px;
  left: 390px;
}
.vid5 {
  margin-top: 15px;
  height: 200px;
  width: 360px;
  border-radius: 10px;
}
.timing5 {
  height: 20px;
  width: 45px;
  border-radius: 4px;
  padding-top: 2px;
  padding-left: 5px;
  background-color: black;
  color: white;
  position: relative;
  bottom: 50px;
  left: 300px;
}
.logo5 {
  height: 45px;
  width: 45px;
  border-radius: 25px;
  position: relative;
  left: 20px;
  bottom: 50px;
}
.para5 {
  font-size: 17px;
  position: relative;
  left: 70px;
  bottom: 110px;
  font-family: "Roboto Mono", monospace;
  word-spacing: -4px;
  letter-spacing: 0.3px;
}
.cre5 {
  font-size: 14px;
  color : rgb(96, 96, 96);
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
  position: relative;
  left: 70px;
  bottom: 130px;
}
.tv5 {
  font-size: 14px;
  color : rgb(96, 96, 96);
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
  position: relative;
  left: 70px;
  bottom: 145px;
  line-height: 6px;
}
.sixth-vid {
  height: 290px;
  width: 382px;
  position: relative;
  bottom: 1230px;
  left: 767px;
}
.vid6 {
  margin-top: 15px;
  height: 200px;
  width: 360px;
  border-radius: 10px;
}
.timing6 {
  height: 20px;
  width: 45px;
  border-radius: 4px;
  padding-top: 2px;
  padding-left: 5px;
  background-color: black;
  color: white;
  position: relative;
  bottom: 50px;
  left: 300px;
}
.logo6 {
  height: 45px;
  width: 45px;
  border-radius: 25px;
  position: relative;
  left: 20px;
  bottom: 50px;
}
.para6 {
  font-size: 17px;
  position: relative;
  left: 70px;
  bottom: 110px;
  font-family: "Roboto Mono", monospace;
  word-spacing: -4px;
  letter-spacing: 0.3px;
}
.cre6 {
  font-size: 14px;
  color : rgb(96, 96, 96);
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
  position: relative;
  left: 70px;
  bottom: 130px;
}
.tv6 {
  font-size: 14px;
  color : rgb(96, 96, 96);
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
  position: relative;
  left: 70px;
  bottom: 145px;
  line-height: 6px;
}
.seventh-vid {
  height: 290px;
  width: 375px;
  position: relative;
  bottom: 1230px;

}
.vid7 {
  margin-top: 15px;
  height: 200px;
  width: 375px;
  border-radius: 10px;
}
.timing7 {
  height: 20px;
  width: 45px;
  border-radius: 4px;
  padding-top: 2px;
  padding-left: 5px;
  background-color: black;
  color: white;
  position: relative;
  bottom: 50px;
  left: 310px;
}
.logo7 {
  height: 45px;
  width: 45px;
  border-radius: 25px;
  position: relative;
  left: 20px;
  bottom: 50px;
}
.para7 {
  font-size: 17px;
  position: relative;
  left: 70px;
  bottom: 110px;
  font-family: "Roboto Mono", monospace;
  word-spacing: -4px;
  letter-spacing: 0.3px;
}
.cre7 {
  font-size: 14px;
  color : rgb(96, 96, 96);
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
  position: relative;
  left: 70px;
  bottom: 130px;
}
.tv7 {
  font-size: 14px;
  color : rgb(96, 96, 96);
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
  position: relative;
  left: 70px;
  bottom: 145px;
  line-height: 6px;
}
.eighth-vid {
  height: 290px;
  width: 360px;
  position: relative;
  bottom: 1520px;
  left: 390px;
}
.vid8 {
  margin-top: 15px;
  height: 200px;
  width: 360px;
  border-radius: 10px;
}
.timing8 {
  height: 20px;
  width: 45px;
  border-radius: 4px;
  padding-top: 2px;
  padding-left: 5px;
  background-color: black;
  color: white;
  position: relative;
  bottom: 50px;
  left: 300px;
}
.logo8 {
  height: 45px;
  width: 45px;
  border-radius: 25px;
  position: relative;
  left: 20px;
  bottom: 50px;
}
.para8 {
  font-size: 17px;
  position: relative;
  left: 70px;
  bottom: 110px;
  font-family: "Roboto Mono", monospace;
  word-spacing: -4px;
  letter-spacing: 0.3px;
}
.cre8 {
  font-size: 14px;
  color : rgb(96, 96, 96);
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
  position: relative;
  left: 70px;
  bottom: 130px;
}
.tv8 {
  font-size: 14px;
  color : rgb(96, 96, 96);
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
  position: relative;
  left: 70px;
  bottom: 145px;
  line-height: 6px;
}
.ninth-vid {
  height: 290px;
  width: 365px;
  position: relative;
  bottom: 1810px;
  left: 767px;
}
.vid9 {
  margin-top: 15px;
  height: 200px;
  width: 360px;
  border-radius: 10px;
}
.timing9 {
  height: 20px;
  width: 45px;
  border-radius: 4px;
  padding-top: 2px;
  padding-left: 5px;
  background-color: black;
  color: white;
  position: relative;
  bottom: 50px;
  left: 300px;
}
.logo9 {
  height: 45px;
  width: 45px;
  border-radius: 25px;
  position: relative;
  left: 20px;
  bottom: 50px;
}
.para9 {
  font-size: 17px;
  position: relative;
  left: 70px;
  bottom: 110px;
  font-family: "Roboto Mono", monospace;
  word-spacing: -4px;
  letter-spacing: 0.3px;
}
.cre9 {
  font-size: 14px;
  color : rgb(96, 96, 96);
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
  position: relative;
  left: 70px;
  bottom: 130px;
}
.tv9 {
  font-size: 14px;
  color : rgb(96, 96, 96);
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
  position: relative;
  left: 70px;
  bottom: 145px;
  line-height: 6px;
}
.tenth-vid {
  height: 290px;
  width: 375px;
  position: relative;
  bottom: 1810px;
}
.vid10 {
  margin-top: 15px;
  height: 200px;
  width: 375px;
  border-radius: 10px;
}
.timing10 {
  height: 20px;
  width: 45px;
  border-radius: 4px;
  padding-top: 2px;
  padding-left: 5px;
  background-color: black;
  color: white;
  position: relative;
  bottom: 50px;
  left: 310px;
}
.logo10 {
  height: 45px;
  width: 45px;
  border-radius: 25px;
  position: relative;
  left: 20px;
  bottom: 50px;
}
.para10 {
  font-size: 17px;
  position: relative;
  left: 70px;
  bottom: 110px;
  font-family: "Roboto Mono", monospace;
  word-spacing: -4px;
  letter-spacing: 0.3px;
}
.cre10 {
  font-size: 14px;
  color : rgb(96, 96, 96);
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
  position: relative;
  left: 70px;
  bottom: 130px;
}
.tv10 {
  font-size: 14px;
  color : rgb(96, 96, 96);
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
  position: relative;
  left: 70px;
  bottom: 145px;
  line-height: 6px;
}
.eleventh-vid {
  height: 290px;
  width: 360px;
  position: relative;
  bottom: 2100px;
  left: 390px;
}
.vid11 {
  margin-top: 15px;
  height: 200px;
  width: 360px;
  border-radius: 10px;
}
.timing11 {
  height: 20px;
  width: 60px;
  border-radius: 4px;
  padding-top: 2px;
  padding-left: 5px;
  background-color: black;
  color: white;
  position: relative;
  bottom: 50px;
  left: 280px;
}
.logo11 {
  height: 45px;
  width: 45px;
  border-radius: 25px;
  position: relative;
  left: 20px;
  bottom: 50px;
}
.para11 {
  font-size: 17px;
  position: relative;
  left: 70px;
  bottom: 110px;
  font-family: "Roboto Mono", monospace;
  word-spacing: -4px;
  letter-spacing: 0.3px;
}
.cre11 {
  font-size: 14px;
  color : rgb(96, 96, 96);
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
  position: relative;
  left: 70px;
  bottom: 130px;
}
.tv11 {
  font-size: 14px;
  color : rgb(96, 96, 96);
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
  position: relative;
  left: 70px;
  bottom: 145px;
  line-height: 6px;
}
.twelth-vid {
  height: 290px;
  width: 365px;
  position: relative;
  bottom: 2390px;
  left: 767px;
}
.vid12 {
  margin-top: 15px;
  height: 200px;
  width: 360px;
  border-radius: 10px;
}
.timing12 {
  height: 20px;
  width: 45px;
  border-radius: 4px;
  padding-top: 2px;
  padding-left: 5px;
  background-color: black;
  color: white;
  position: relative;
  bottom: 50px;
  left: 300px;
}
.logo12 {
  height: 45px;
  width: 45px;
  border-radius: 25px;
  position: relative;
  left: 20px;
  bottom: 50px;
}
.para12 {
  font-size: 17px;
  position: relative;
  left: 70px;
  bottom: 110px;
  font-family: "Roboto Mono", monospace;
  word-spacing: -4px;
  letter-spacing: 0.3px;
}
.cre12 {
  font-size: 14px;
  color : rgb(96, 96, 96);
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
  position: relative;
  left: 70px;
  bottom: 130px;
}
.tv12 {
  font-size: 14px;
  color : rgb(96, 96, 96);
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
  position: relative;
  left: 70px;
  bottom: 145px;
  line-height: 6px;
}
.thirteenth-vid {
  height: 290px;
  width: 380px;
  position: relative;
  bottom: 2390px;
}
.vid13 {
  margin-top: 15px;
  height: 200px;
  width: 375px;
  border-radius: 10px;
}
.timing13 {
  height: 20px;
  width: 45px;
  border-radius: 4px;
  padding-top: 2px;
  padding-left: 5px;
  background-color: black;
  color: white;
  position: relative;
  bottom: 50px;
  left: 300px;
}
.logo13 {
  height: 45px;
  width: 45px;
  border-radius: 25px;
  position: relative;
  left: 20px;
  bottom: 50px;
}
.para13 {
  font-size: 17px;
  position: relative;
  left: 70px;
  bottom: 110px;
  font-family: "Roboto Mono", monospace;
  word-spacing: -4px;
  letter-spacing: 0.3px;
}
.cre13 {
  font-size: 14px;
  color : rgb(96, 96, 96);
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
  position: relative;
  left: 70px;
  bottom: 130px;
}
.tv13 {
  font-size: 14px;
  color : rgb(96, 96, 96);
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
  position: relative;
  left: 70px;
  bottom: 145px;
  line-height: 6px;
}
.fourteenth-vid {
  height: 290px;
  width: 390px;
  position: relative;
  bottom: 2680px;
  left: 390px;
}
.vid14 {
  margin-top: 15px;
  height: 200px;
  width: 360px;
  border-radius: 10px;
}
.timing14 {
  height: 20px;
  width: 45px;
  border-radius: 4px;
  padding-top: 2px;
  padding-left: 5px;
  background-color: black;
  color: white;
  position: relative;
  bottom: 50px;
  left: 300px;
}
.logo14 {
  height: 45px;
  width: 45px;
  border-radius: 25px;
  position: relative;
  left: 20px;
  bottom: 50px;
}
.para14 {
  font-size: 17px;
  position: relative;
  left: 70px;
  bottom: 110px;
  font-family: "Roboto Mono", monospace;
  word-spacing: -4px;
  letter-spacing: 0.3px;
}
.cre14 {
  font-size: 14px;
  color : rgb(96, 96, 96);
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
  position: relative;
  left: 70px;
  bottom: 130px;
}
.tv14 {
  font-size: 14px;
  color : rgb(96, 96, 96);
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
  position: relative;
  left: 70px;
  bottom: 145px;
  line-height: 6px;
}
.fifteenth-vid {
  height: 290px;
  width: 365px;
  position: relative;
  bottom: 2970px;
  left: 767px;
}
.vid15 {
  margin-top: 15px;
  height: 200px;
  width: 360px;
  border-radius: 10px;
}
.timing15 {
  height: 20px;
  width: 60px;
  border-radius: 4px;
  padding-top: 2px;
  padding-left: 5px;
  background-color: black;
  color: white;
  position: relative;
  bottom: 50px;
  left: 280px;
}
.logo15 {
  height: 45px;
  width: 45px;
  border-radius: 25px;
  position: relative;
  left: 20px;
  bottom: 50px;
}
.para15 {
  font-size: 17px;
  position: relative;
  left: 70px;
  bottom: 110px;
  font-family: "Roboto Mono", monospace;
  word-spacing: -4px;
  letter-spacing: 0.3px;
}
.cre15 {
  font-size: 14px;
  color : rgb(96, 96, 96);
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
  position: relative;
  left: 70px;
  bottom: 130px;
}
.tv15 {
  font-size: 14px;
  color : rgb(96, 96, 96);
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
  position: relative;
  left: 70px;
  bottom: 145px;
  line-height: 6px;
}
.sixteenth-vid {
  height: 290px;
  width: 375px;
  position: relative;
  bottom: 2970px;
}
.vid16 {
  margin-top: 15px;
  height: 200px;
  width: 375px;
  border-radius: 10px;
}
.timing16 {
  height: 20px;
  width: 45px;
  border-radius: 4px;
  padding-top: 2px;
  padding-left: 5px;
  background-color: black;
  color: white;
  position: relative;
  bottom: 50px;
  left: 300px;
}
.logo16 {
  box-shadow: 0px 0px 1px 1px rgb(73, 73, 73);
  height: 45px;
  width: 45px;
  border-radius: 25px;
  position: relative;
  left: 20px;
  bottom: 50px;
}
.para16 {
  font-size: 17px;
  position: relative;
  left: 70px;
  bottom: 110px;
  font-family: "Roboto Mono", monospace;
  word-spacing: -4px;
  letter-spacing: 0.3px;
}
.cre16 {
  font-size: 14px;
  color : rgb(96, 96, 96);
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
  position: relative;
  left: 70px;
  bottom: 130px;
}
.tv16 {
  font-size: 14px;
  color : rgb(96, 96, 96);
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
  position: relative;
  left: 70px;
  bottom: 145px;
  line-height: 6px;
}
.seventeenth-vid {
  height: 290px;
  width: 365px;
  position: relative;
  bottom: 3260px;
  left: 390px;
}
.vid17 {
  margin-top: 15px;
  height: 200px;
  width: 365px;
  border-radius: 10px;
}
.timing17 {
  height: 20px;
  width: 45px;
  border-radius: 4px;
  padding-top: 2px;
  padding-left: 5px;
  background-color: black;
  color: white;
  position: relative;
  bottom: 50px;
  left: 300px;
}
.logo17 {
  height: 45px;
  width: 45px;
  border-radius: 25px;
  position: relative;
  left: 20px;
  bottom: 50px;
}
.para17 {
  font-size: 17px;
  position: relative;
  left: 70px;
  bottom: 110px;
  font-family: "Roboto Mono", monospace;
  word-spacing: -4px;
  letter-spacing: 0.3px;
}
.cre17 {
  font-size: 14px;
  color : rgb(96, 96, 96);
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
  position: relative;
  left: 70px;
  bottom: 130px;
}
.tv17 {
  font-size: 14px;
  color : rgb(96, 96, 96);
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
  position: relative;
  left: 70px;
  bottom: 145px;
  line-height: 6px;
}
.eighteenth-vid {
  height: 290px;
  width: 365px;
  position: relative;
  bottom: 3550px;
  left: 770px;
}
.vid18 {
  margin-top: 15px;
  height: 200px;
  width: 360px;
  border-radius: 10px;
}
.timing18 {
  height: 20px;
  width: 45px;
  border-radius: 4px;
  padding-top: 2px;
  padding-left: 5px;
  background-color: black;
  color: white;
  position: relative;
  bottom: 50px;
  left: 300px;
}
.logo18 {
  height: 45px;
  width: 45px;
  border-radius: 25px;
  position: relative;
  left: 20px;
  bottom: 50px;
}
.para18 {
  font-size: 17px;
  position: relative;
  left: 70px;
  bottom: 110px;
  font-family: "Roboto Mono", monospace;
  word-spacing: -4px;
  letter-spacing: 0.3px;
}
.cre18 {
  font-size: 14px;
  color : rgb(96, 96, 96);
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
  position: relative;
  left: 70px;
  bottom: 130px;
}
.tv18 {
  font-size: 14px;
  color : rgb(96, 96, 96);
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
  position: relative;
  left: 70px;
  bottom: 145px;
  line-height: 6px;
}
.ninteenth-vid {
  height: 290px;
  width: 375px;
  position: relative;
  bottom: 3550px;
}
.vid19 {
  margin-top: 15px;
  height: 200px;
  width: 375px;
  border-radius: 10px;
}
.timing19 {
  height: 20px;
  width: 45px;
  border-radius: 4px;
  padding-top: 2px;
  padding-left: 5px;
  background-color: black;
  color: white;
  position: relative;
  bottom: 50px;
  left: 300px;
}
.logo19 {
  height: 45px;
  width: 45px;
  border-radius: 25px;
  position: relative;
  left: 20px;
  bottom: 50px;
}
.para19 {
  font-size: 17px;
  position: relative;
  left: 70px;
  bottom: 110px;
  font-family: "Roboto Mono", monospace;
  word-spacing: -4px;
  letter-spacing: 0.3px;
}
.cre19 {
  font-size: 14px;
  color : rgb(96, 96, 96);
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
  position: relative;
  left: 70px;
  bottom: 130px;
}
.tv19 {
  font-size: 14px;
  color : rgb(96, 96, 96);
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
  position: relative;
  left: 70px;
  bottom: 145px;
  line-height: 6px;
}
.twentieth-vid {
  height: 290px;
  width: 375px;
  position: relative;
  bottom: 3840px;
  left: 390px;
}
.vid20 {
  margin-top: 15px;
  height: 200px;
  width: 375px;
  border-radius: 10px;
}
.timing20 {
  height: 20px;
  width: 45px;
  border-radius: 4px;
  padding-top: 2px;
  padding-left: 5px;
  background-color: black;
  color: white;
  position: relative;
  bottom: 50px;
  left: 300px;
}
.logo20 {
  height: 45px;
  width: 45px;
  border-radius: 25px;
  position: relative;
  left: 20px;
  bottom: 50px;
}
.para20 {
  font-size: 17px;
  position: relative;
  left: 70px;
  bottom: 110px;
  font-family: "Roboto Mono", monospace;
  word-spacing: -4px;
  letter-spacing: 0.3px;
}
.cre20 {
  font-size: 14px;
  color : rgb(96, 96, 96);
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
  position: relative;
  left: 70px;
  bottom: 130px;
}
.tv20 {
  font-size: 14px;
  color : rgb(96, 96, 96);
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
  position: relative;
  left: 70px;
  bottom: 145px;
  line-height: 6px;
}
.twentieoneth-vid {
  height: 290px;
  width: 365px;
  position: relative;
  bottom: 4130px;
  left: 780px;
}
.vid21 {
  margin-top: 15px;
  height: 200px;
  width: 360px;
  border-radius: 10px;
}
.timing21 {
  height: 20px;
  width: 45px;
  border-radius: 4px;
  padding-top: 2px;
  padding-left: 5px;
  background-color: black;
  color: white;
  position: relative;
  bottom: 50px;
  left: 300px;
}
.logo21 {
  height: 45px;
  width: 45px;
  border-radius: 25px;
  position: relative;
  left: 20px;
  bottom: 50px;
}
.para21 {
  font-size: 17px;
  position: relative;
  left: 70px;
  bottom: 110px;
  font-family: "Roboto Mono", monospace;
  word-spacing: -4px;
  letter-spacing: 0.3px;
}
.cre21 {
  font-size: 14px;
  color : rgb(96, 96, 96);
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
  position: relative;
  left: 70px;
  bottom: 130px;
}
.tv21 {
  font-size: 14px;
  color : rgb(96, 96, 96);
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
  position: relative;
  left: 70px;
  bottom: 145px;
  line-height: 6px;
}